@model Policy_Management_System.Models.Registration

@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_CustomerDashboard.cshtml";
}

<h2 style="text-align:center;">Update Password</h2>

@using (Html.BeginForm("UpdatePassword", "Customer", FormMethod.Post))
{
    <table style="width: 25%; margin: 0px auto;">
        <tr>
            <td>
                @Html.PasswordFor(i => i.Password, new { @class = "form-control", placeholder = "Enter Password", id = "pwd" })
            </td>
        </tr>

        <tr>
            <td>
                <input type="password" id="cnfPwd" placeholder="Confirm Password" class="form-control" />
            </td>
        </tr>

        <tr>
            <td>
                <button onclick="return checkPass()" class="form-control btn-primary">Update Password</button>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    function checkPass() {
        var pass = document.getElementById("pwd").value;
        var cnfpass = document.getElementById("cnfPwd").value;
        if (pass != cnfpass) {
            alert("Password does not match with the confirmed password.");
            return false;
        }
    }
</script>

