@model Policy_Management_System.Models.Category

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<h2>Edit Category</h2>

@using (Html.BeginForm("EditCategory", "Admin",FormMethod.Post))
{
    @Html.TextBoxFor(i => i.Name, new { @class = "form-control" })
    <br />
    <br />
    <button>Update</button>
}
